fastapi==0.115.11
uvicorn==0.34.0
ffprobe==0.5.0
ffprobe-python==1.0.3
pydantic-settings==2.2.1
elevenlabs==1.53.0
pydub==0.25.1
gunicorn==23.0.0
google-cloud-storage==3.1.0
google-cloud-secret-manager==2.23.2
python-dotenv==1.1.0
openai
base64
json
requests
tempfile